{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}

{# ... #}

{% block body %}
    <main class="main">
        <div class="container">
            <section class="wrapper">
                <div class="heading">
                    <h1 class="text text-large">Sign In</h1>
                </div>
                {% if error %}
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <form name="signin" class="form" action="{{ path('login') }}" method="post">
                    <div class="input-control">
                        <label for="username" class="input-label" hidden>Email Address</label>
                        <input type="email" name="_username" value="{{ last_username }}" id="username" class="input-field" placeholder="Email Address">
                    </div>
                    <div class="input-control">
                        <label for="password" class="input-label" hidden>Password</label>
                        <input type="password" name="_password" id="password" class="input-field" placeholder="Password">
                    </div>
                    <div class="input-control">
                        <input type="submit" name="submit" class="input-submit" value="Sign In">
                    </div>
                </form>
            </section>
        </div>
    </main>
{% endblock %}