{# templates/password_reset/request_password_reset.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe{% endblock %}

{% block body %}
    <h1>Demande de réinitialisation de mot de passe</h1>

    {{ form_start(form) }}
    {{ form_row(form.email) }}
    <button type="submit" class="btn btn-primary">Envoyer</button>
    {{ form_end(form) }}
{% endblock %}
