{# templates/password_reset/reset_password.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe{% endblock %}

{% block body %}
    <main class="main">
        <div class="container">
            <section class="wrapper">
                <img src="{{ asset('assets/error.png') }}" alt="error-logo" />
                <div class="heading text-center">
                    <h1 class="text text-semi-large">Your token has expired.</h1>
                </div>
            </section>
        </div>
    </main>
{% endblock %}
