{# templates/emails/password_reset.html.twig #}

{% autoescape 'html' %}
    Cliquez sur le lien suivant pour réinitialiser votre mot de passe :
    <a href="{{ resetPasswordLink }}">Réinitialiser le mot de passe</a>
{% endautoescape %}
